<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopping.suggestion">

    <application>
        <provider
            android:name=".KeywordSuggestion"
            android:authorities="keywordsuggestion"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>